In [1]:
import json
import csv
import pandas as pd

In [2]:
json_file = open('hw-1-qbs.json')
data = json.load(json_file)

In [3]:
names = data['Quarterbacks']
data_file = open('/Users/jonahberman/Desktop/TAMID/hw1_qbs.csv', 'w+')
csv_writer = csv.writer(data_file)
csv_writer.writerow(names[0].keys())
for name in names:
    csv_writer.writerow(name.values())
data_file.close()

In [6]:
qbs = pd.read_csv('/Users/jonahberman/Desktop/TAMID/hw1_qbs.csv')
qbs = qbs[['First Name', 'Last Name', 'Team', 'YDS', 'TD', 'CMP%']]
qbs

  First Name Last Name Team   YDS  TD  CMP%
0    Matthew  Stafford  LAR  2477  22  68.9
1        Tom     Brady   TB  2650  25  67.3
2    Patrick   Mahomes   KC  2368  19  66.5
3      Kyler    Murray  ARI  2276  17  72.7
4      Derek      Carr   LV  2269  12  67.7

In [11]:
tds = qbs['TD'].tolist()
tds

[22, 25, 19, 17, 12]